@media screen and (min-width:320px) and (max-width:575px) {

    * {
        margin: 0;
        padding: 0;
    }

    body {
        overflow-x: hidden;
        box-sizing: border-box;
    }

    #header {
        width: 100%;
        height: auto;
        background-color: #F6F6F6;
        display: none;
    }

    #nav {
        width: 100%;
        height: auto;
        display: flex;
        background-color: #F6F6F6;
        /* background-color: aquamarine; */
    }

    .logo {
        width: 100%;
        height: auto;
        margin-top: 10px;
        margin-left: 5%;
        margin-bottom: 10px;
    }

    .logo h1 {
        font-size: 35px;
        color: #F3525A;
    }

    .navbar {
        width: 100%;
        height: auto;
        margin-top: 15px;
        margin-left: 12%;
        display: none;
    }

    .toggler span {
        font-size: 50px;
        display: block !important;
    }

    /* section one start here */

    #one {
        width: 100%;
        height: auto;
    }

    .banner {
        width: 100%;
        height: 250px;
        background: linear-gradient(rgba(160, 160, 160, 0.858), rgba(160, 160, 160, 0.479)), url(../Images/carousel-1.jpg) no-repeat;
        background-size: 100% 100%;
        position: relative;
    }

    .banner-text {
        width: 100%;
        height: auto;
        position: absolute;
        margin-top: 50px;
        margin-left: 0%;
        color: white;
    }

    .banner-text h1 {
        font-size: 25px;
        text-align: center;
        font-family: 'Londrina Solid', cursive;
    }

    .banner-text p {
        color: brown;
        font-size: 15px;
        text-align: center;
    }

    .btn {
        width: 90%;
        height: auto;
        margin-left: 8%;
        margin-top: 150px;
        position: absolute;
    }

    #get {
        width: 40%;
        height: 50px;
        font-size: 12px;
        color: white;
        background-color: #F3525A;
        border-radius: 50px 50px 50px 50px;
        padding-right: 15px;
    }

    #get:hover {
        background-color: #F3525A;
        color: black;
    }

    #contact {
        width: 40%;
        height: 50px;
        color: #F3525A;
        font-size: 12px;
        background-color: white;
        margin-left: 15px;
        padding-left: 5px;
        border-radius: 50px 50px 50px 50px;
    }

    #contact:hover {
        color: black;
        background-color: white;
    }

    /* section two starts here */
    #two {
        width: 100%;
        height: auto;
    }

    .main {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .welcome {
        width: 100%;
        height: auto;
        background-color: #F6F6F6;
        padding-top: 5%;
        padding-left: 0%;
    }

    .welcome-txt {
        width: 80%;
        margin-left: 10%;
    }

    .welcome h1 {
        color: black;
        font-size: 45px;
        font-family: 'Londrina Solid', cursive;
    }

    .welcome span {
        color: #F3525A;
    }

    .welcome h3 {
        font-size: 20px;
        color: #F3525A;
        margin-top: 2%;
        text-align: justify;
    }

    .welcome p {
        width: 100%;
        color: grey;
        margin-top: 3%;
        font-size: 15px;
        text-align: justify;
    }

    .welcome button {
        width: 40%;
        height: 50px;
        border-radius: 50px 50px 50px 50px;
        margin-top: 20px;
        margin-bottom: 15px;
        padding-top: 15px;
        margin-left: 5%;
        padding-left: 5px;
        background-color: #F3525A;
        color: white;
    }

    .buisness {
        width: 100%;
        height: auto;
        padding-bottom: 5%;
        background-color: #F3525A;
    }

    .buisness-txt {
        width: 80%;
        margin-left: 12%;
    }

    .planning {
        width: 100%;
        height: auto;
        background-color: #F3525A;
        padding-top: 10%;
        display: flex;
        padding-left: 5% !important;
    }

    .planning span {
        background-color: white;
        color: #F3525A;
        width: 50px;
        height: 45px;
        font-size: 35px;
        padding-top: 10px;
        border-radius: 50%;
        margin-left: 5px;
        text-align: center;
    }

    .plan-txt {
        width: 55%;
        margin-left: 5%;
    }

    .plan-txt p {
        margin-top: 2%;
        text-align: justify;
    }

    .finance {
        width: 100%;
        height: auto;
        background-color: #F3525A;
        padding-top: 5%;
        margin-top: 5%;
        display: flex;
        padding-left: 5% !important;
    }

    .chart-txt {
        width: 55%;
        margin-left: 5%;
    }

    .chart-txt p {
        margin-top: 2%;
        text-align: justify;
    }

    .finance span {
        background-color: white;
        color: #F3525A;
        width: 50px;
        height: 40px;
        font-size: 30px;
        border-radius: 50%;
        margin-left: 5px;
        padding-top: 10px;
        text-align: center;
    }

    .legal {
        width: 100%;
        height: auto;
        background-color: #F3525A;
        padding-top: 5%;
        margin-top: 5%;
        display: flex;
        padding-left: 5% !important;
    }

    .legal span {
        background-color: white;
        color: #F3525A;
        width: 50px;
        height: 40px;
        font-size: 30px;
        border-radius: 50%;
        margin-left: 5px;
        padding-top: 10px;
        text-align: center;
    }

    .legal-txt {
        width: 55%;
        margin-left: 5%;
        text-align: justify;
    }

    .legal-txt p {
        margin-top: 2%;
    }

    /* section two ends here */

    /* section three starts here */

    #three {
        width: 100%;
        height: auto;
        margin-top: 5%;
    }

    .head {
        width: 100%;
        height: auto;
    }

    .head h1 {
        text-align: center;
        font-size: 40px;
        font-family: 'Londrina Solid', cursive;
    }

    .row {
        width: 30%;
        margin-left: 35%;
    }

    .square {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-top: 10%;
        justify-content: space-evenly;
        gap: 50px;
    }

    .research {
        width: 90% !important;
        height: auto;
        margin-left: 5%;
        background-color: #F6F6F6;
        padding-bottom: 10%;
        padding-top: 10%;
    }

    .research span {
        width: 55px;
        height: 45px;
        background-color: #F3525A;
        color: white;
        border-radius: 50%;
        padding-top: 10px;
        padding-bottom: 5px;
        text-align: center;
        margin-left: 40%;
        font-size: 40px;
    }

    .research h1 {
        font-size: 45px;
        text-align: center;
        margin-top: 5%;
    }

    .paragraph {
        width: 80%;
        text-align: center;
        margin-left: 10%;
        margin-top: 5%;
        font-size: 20px;
    }

    .stretagy {
        width: 90% !important;
        height: auto;
        margin-left: 5%;
        background-color: #F6F6F6;
        padding-bottom: 10%;
        padding-top: 10%;
    }

    .stretagy span {
        width: 50px;
        height: 45px;
        background-color: #F3525A;
        color: white;
        border-radius: 50%;
        padding-top: 5px;
        padding-bottom: 0px;
        text-align: center;
        margin-left: 40%;
        font-size: 40px;
    }

    .stretagy h1 {
        font-size: 45px;
        text-align: center;
        margin-top: 5%;
        font-family: 'Londrina Solid', cursive;
    }

    .paragraph1 {
        width: 80%;
        text-align: center;
        margin-left: 10%;
        margin-top: 5%;
        font-size: 20px;
    }

    .market {
        width: 90% !important;
        height: auto;
        margin-left: 5%;
        background-color: #F6F6F6;
        padding-bottom: 10%;
        padding-top: 10%;
    }

    .market span {
        width: 50px;
        height: 40px;
        background-color: #F3525A;
        color: white;
        border-radius: 50%;
        padding-top: 15px;
        padding-bottom: 5px;
        text-align: center;
        margin-left: 40%;
        font-size: 30px;
    }

    .market h1 {
        font-size: 45px;
        text-align: center;
        margin-top: 5%;
        font-family: 'Londrina Solid', cursive;
    }

    .paragraph2 {
        width: 80%;
        text-align: center;
        margin-left: 10%;
        margin-top: 5%;
        font-size: 20px;
    }

    /* first 3 square css is over here */

    /* this css is for the second 3 square */
    .square1 {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-top: 12%;
        justify-content: space-evenly;
        gap: 50px;
    }

    .analysis {
        width: 90% !important;
        height: auto;
        margin-left: 5%;
        background-color: #F6F6F6;
        padding-bottom: 10%;
        padding-top: 10%;
    }

    .analysis span {
        width: 50px;
        height: 40px;
        background-color: #F3525A;
        color: white;
        border-radius: 50%;
        padding-top: 10px;
        padding-bottom: 5px;
        text-align: center;
        margin-left: 40%;
        font-size: 32px;
    }

    .analysis h1 {
        font-size: 45px;
        text-align: center;
        margin-top: 5%;
        font-family: 'Londrina Solid', cursive;
    }

    .para {
        width: 80%;
        text-align: center;
        margin-left: 10%;
        margin-top: 5%;
        font-size: 20px;
    }

    .advisory {
        width: 90% !important;
        height: auto;
        margin-left: 5%;
        background-color: #F6F6F6;
        padding-bottom: 10%;
        padding-top: 10%;
    }

    .advisory span {
        width: 50px;
        height: 40px;
        background-color: #F3525A;
        color: white;
        border-radius: 50%;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        margin-left: 40%;
        font-size: 35px;
    }

    .advisory h1 {
        font-size: 45px;
        text-align: center;
        margin-top: 5%;
        font-family: 'Londrina Solid', cursive;
    }

    .para1 {
        width: 80%;
        text-align: center;
        margin-left: 10%;
        margin-top: 5%;
        font-size: 20px;
    }

    .tax {
        width: 90% !important;
        height: auto;
        margin-left: 5%;
        background-color: #F6F6F6;
        padding-bottom: 10%;
        padding-top: 10%;
    }

    .tax span {
        width: 50px;
        height: 40px;
        background-color: #F3525A;
        color: white;
        border-radius: 50%;
        padding-top: 8px;
        padding-bottom: 5PX;
        text-align: center;
        margin-left: 40%;
        font-size: 35px;
    }

    .tax h1 {
        font-size: 45px;
        text-align: center;
        margin-top: 5%;
        font-family: 'Londrina Solid', cursive;
    }

    .para2 {
        width: 80%;
        text-align: center;
        margin-left: 10%;
        margin-top: 5%;
        font-size: 20px;
    }

    /* section three ends here */

    /* section four starts here */

    #four {
        width: 100%;
        height: auto;
        margin-top: 25%;
    }

    .heading h1 {
        font-size: 55px;
        text-align: center;
        font-family: 'Londrina Solid', cursive;
    }

    hr {
        width: 20%;
        margin-left: 40%;
    }

    .parent {
        width: 90%;
        height: auto;
        margin-top: 20%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
    }

    .best {
        width: 100%;
        margin-left: 5%;
        height: auto;
    }

    .first {
        width: 100%;
        height: auto;
    }

    .first span {
        width: 50px;
        height: 45px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 0px;
        border-radius: 50%;
        font-size: 33px;
        background-color: #F3525A;
        color: white;
    }

    .first h1 {
        font-size: 30px;
        margin-top: 2%;
        font-family: 'Londrina Solid', cursive;
    }

    .industry-para {
        font-size: 18px;
        margin-top: 2%;
    }

    .second {
        width: 100%;
        height: auto;
    }

    .second span {
        width: 45px;
        height: 40px;
        margin-top: 10%;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 5px;
        border-radius: 50%;
        font-size: 35px;
        background-color: #F3525A;
        color: white;
    }

    .second h1 {
        font-size: 30px;
        margin-top: 2%;
        font-family: 'Londrina Solid', cursive;
    }

    .success-para {
        font-size: 18px;
        margin-top: 2%;
    }

    .third {
        width: 100%;
        height: auto;
    }

    .third span {
        width: 42px;
        height: 40px;
        margin-top: 10%;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 5px;
        border-radius: 50%;
        font-size: 35px;
        background-color: #F3525A;
        color: white;
    }

    .third h1 {
        font-size: 30px;
        margin-top: 2%;
        font-family: 'Londrina Solid', cursive;
    }

    .award-para {
        font-size: 18px;
        margin-top: 2%;
    }

    .center {
        width: 90% !important;
        align-items: center;
        padding-bottom: 10%;
        margin-top: 15%;
        margin-left: 5%;
        background-color: #F3525A;
    }

    .picture img {
        width: 100%;
    }

    .para-text {
        width: 80%;
        text-align: center;
        margin-left: 10%;
        padding-top: 5%;
        color: white;
    }

    #learn {
        width: 50%;
        height: 50px;
        margin-top: 12%;
        padding-left: 1%;
        padding-top: 15px;
        border-radius: 50px 50px 50px 50px;
        background-color: white;
    }

    .client {
        width: 100%;
        height: auto;
        margin-left: 5%;
        margin-top: 15%;
    }

    .happy {
        width: 100%;
        height: auto;
    }

    .happy span {
        width: 45px;
        height: 40px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 5px;
        border-radius: 50%;
        font-size: 35px;
        background-color: #F3525A;
        color: white;
    }

    .happy h1 {
        font-size: 30px;
        margin-top: 2%;
        font-family: 'Londrina Solid', cursive;
    }

    .happy-para {
        font-size: 18px;
        margin-top: 2%;
    }

    .professional {
        width: 100%;
        height: auto;
    }

    .professional span {
        width: 45px;
        height: 45px;
        margin-top: 10%;
        padding-left: 13px;
        padding-top: 10px;
        padding-bottom: 5px;
        border-radius: 50%;
        font-size: 35px;
        background-color: #F3525A;
        color: white;
    }

    .professional h1 {
        font-size: 30px;
        margin-top: 2%;
        font-family: 'Londrina Solid', cursive;
    }

    .profession {
        font-size: 18px;
        margin-top: 2%;
    }

    .customer {
        width: 100%;
        height: auto;
    }

    .customer span {
        width: 45px;
        height: 40px;
        margin-top: 10%;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 5px;
        border-radius: 50%;
        font-size: 35px;
        background-color: #F3525A;
        color: white;
    }

    .customer h1 {
        font-size: 30px;
        margin-top: 2%;
        font-family: 'Londrina Solid', cursive;
    }

    .customer-para {
        font-size: 18px;
        margin-top: 2%;
    }

    /* section four ends here */

    /* section five starts here */

    #five {
        width: 100%;
        height: auto;
        background-color: #F6F6F6;
        margin-top: 10%;
    }

    .free-quote {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .quote-text {
        width: 100%;
        height: auto;
        margin-top: 2.5%;
    }

    .request {
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-top: 5%;
    }

    .request h1 {
        font-size: 45px;
        font-family: 'Londrina Solid', cursive;
    }

    .request p {
        font-size: 20px;
        margin-top: 5%;
        text-align: justify;
    }

    .quote-info {
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-top: 5%;
    }

    .fname {
        width: 46%;
        height: 50px;
    }

    .mail {
        width: 46%;
        height: 50px;
        margin-left: 3%;
    }

    .category {
        width: 46%;
        height: 50px;
        margin-top: 2%;
    }

    #send {
        width: 47%;
        height: 55px;
        background-color: #F3525A;
        color: white;
        margin-left: 3%;
        padding-left: 4px;
        padding-top: 15px;
        border-radius: 5px;
    }

    #send:hover {
        color: black;
    }

    .visual {
        width: 90%;
        height: 300px;
        margin-left: 5%;
        margin-top: 5%;
    }

    .visual img {
        width: 100%;
        height: 100%;
    }

    /* section five ends here */

    /* section six starts here */

    #six {
        width: 100%;
        height: auto;
        margin-top: 15%;
    }

    .team {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .team h1 {
        font-size: 40px;
        font-family: 'Londrina Solid', cursive;
    }

    .team hr {
        width: 15%;
        margin-left: 42.5%;
        margin-top: 5px;
        color: #F3525A;
    }

    .members {
        width: 100%;
        height: auto;
        padding-top: 5%;
        padding-bottom: 10%;
    }

    .team-member {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-left: 5% !important;
        margin-top: 5% !important;
    }

    .member1 {
        width: 100%;
        height: auto;
    }

    .member1 img {
        width: 100%;
        height: 100%;
    }

    .member2 {
        width: 100%;
        height: auto;
    }

    .member2 img {
        width: 100%;
        height: 100%;
    }

    .member3 {
        width: 100%;
        height: auto;
    }

    .member3 img {
        width: 100%;
        height: 100%;
    }

    /* section six ends here */

    /* section seven starts here */

    #seven {
        width: 100%;
        height: auto;
        background-color: #F6F6F6;
        margin-top: 5%;
        padding-bottom: 2%;
    }

    .master {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .client-img {
        width: 90%;
        height: 300px;
        margin-left: 5%;
        margin-top: 5%;
    }

    .client-img img {
        width: 100%;
        height: 100%;
    }

    .review {
        width: 90%;
        height: auto;
        margin-top: 5%;
        margin-left: 5%;
    }

    .review h1 {
        margin-left: 5%;
        font-size: 45px;
        font-family: 'Londrina Solid', cursive;
    }

    .client-text {
        width: 90%;
        height: auto;
        text-align: justify;
        font-size: 25px;
        margin-left: 5%;
        margin-top: 3%;
    }

    .client-text span {
        color: #F3525A;
        font-size: 30px;
    }

    .client-name {
        width: 100%;
        height: auto;
        display: flex;
        margin-left: 5%;
    }

    .pic {
        width: 20%;
        height: auto;
        margin-top: 10%;
    }

    .pic img {
        width: 100%;
        height: auto;
        border-radius: 50%;
    }

    .occupation {
        width: 50%;
        height: auto;
        margin-top: 15%;
        margin-left: 5%;
    }

    .arrow {
        width: 100%;
        height: auto;
        display: flex;
        margin-left: 2%;
        margin-top: 5%;
    }

    .arrow-left {
        width: 5%;
        height: auto;
        margin-right: 0%;
    }

    .arrow-left span {
        width: 45px;
        height: 35px;
        border-radius: 50%;
        background-color: #F3525A;
        font-size: 35px;
    }

    .arrow-right {
        width: 5%;
        height: auto;
        margin-left: 0%;
    }

    .arrow-right span {
        width: 45px;
        height: 35px;
        border-radius: 50%;
        background-color: #F3525A;
        font-size: 35px;
        margin-left: 45px;
    }

    .fa-arrow-left:hover,
    .fa-arrow-right:hover {
        background-color: white;
        color: #F3525A;
    }

    /* section seven ends here */

    /* section eight start here */

    #eight {
        width: 100%;
        height: auto;
        margin-top: 5%;
    }

    .latest {
        width: 100%;
        height: auto;
    }

    .latest h1 {
        text-align: center;
        font-size: 55px;
        font-family: 'Londrina Solid', cursive;
    }

    .latest hr {
        width: 15%;
        margin-left: 42%;
        margin-top: 1%;
    }

    .post {
        width: 100%;
        height: auto;
        margin: 0px !important;
        padding: 0px !important;
        margin-top: 10%;
        margin-left: 10%;
        padding-bottom: 2%;
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .post-one {
        width: auto !important;
    }

    .post-two {
        width: auto;
    }

    .post-three {
        width: auto;
    }

    .post-image {
        width: 100%;
        height: 200px;
    }

    .post-image img {
        width: 100%;
        height: 100%;
    }

    .post-text {
        width: 100%;
        height: auto;
        display: flex;
        background-color: #F6F6F6;
    }

    .month {
        width: 20%;
        background-color: #F3525A;
        text-align: center;
    }

    .month p {
        margin-top: 5%;
        font-size: 15px;
    }

    .admin {
        width: 90%;
        height: auto;
        margin-left: 2%;
        font-size: 12px;
        margin-top: 3%;
    }

    .admin span {
        color: gray;
        font-size: 15px;
        margin-left: 2%;
    }

    .admin p {
        width: 90%;
        font-size: 15px;
        margin-top: 2%;
        margin-left: 2%;
        text-align: justify;
    }

    /* section eight ends here */

    /* section nine starts here */

    #nine {
        width: 100%;
        height: auto;
        background-color: #F3525A;
        margin-top: 5%;
        padding-bottom: 2%;
    }

    .update {
        width: 100%;
        height: auto;
        padding-bottom: 2%;
    }

    .update h1 {
        font-size: 45px;
        text-align: center;
        font-family: 'Londrina Solid', cursive;
        padding-top: 3% !important;
    }

    .sign {
        width: 80%;
        height: auto;
        margin-left: 10%;
    }

    .sign input {
        width: 100%;
        height: 50px;
    }

    .sign button {
        width: 100%;
        height: 53px;
        background-color: #152440;
        margin-left: 0%;
        padding-left: 0px;
        padding-top: 13px;
        color: white;
        border-radius: 5px 5px 5px 5px;
    }

    /* section nine ends here */

    /* footer starts here */

    footer {
        background-color: #152440;
        color: white;
        padding-bottom: 2%;
    }

    .footer-info {
        width: 100%;
        height: auto;
        padding-top: 3%;
        padding-bottom: 3%;
        display: flex;
        gap: 45px;
        border-bottom: 1px solid #dee2e6 !important;
    }

    .quick {
        width: 40%;
        height: auto;
        margin-left: 0%;
    }
    .quick h1
    {
        font-size: 20px;
        font-family: 'Londrina Solid', cursive;
    }

    .quick-link li {
        list-style-type: none;
        line-height: 1.5;
        margin-top: 2%;
        font-size: 15px;
    }

    .popular {
        width: 40%;
        height: auto;
    }
    .popular h1
    {
        font-size: 20px;
        font-family: 'Londrina Solid', cursive;
    }

    .popular-link li {
        list-style-type: none;
        line-height: 1.5;
        margin-top: 2%;
        font-size: 15px;
    }

    .touch {
        width: 45%;
        height: auto;
        /* margin-left: 1%; */
    }
    .touch h1
    {
        font-size: 20px;
        font-family: 'Londrina Solid', cursive;
    }

    .touch p {
        font-size: 10px;
        line-height: 2;
    }
    .fa-envelope-open
    {
        font-size: 8px !important;
    }

    .touch p span {
        font-size: 10px;
        margin-right: 10px;
    }

    .follow {
        width: 40%;
        height: auto;
        /* margin-left: 2%; */
    }
    .follow h1
    {
        font-size: 20px;
        font-family: 'Londrina Solid', cursive;
    }

    .follow span {
        width: 20px;
        height: 20px;
        padding-left: 1px;
        font-size: 25px;
        border-radius: 50%;
    }

    .fa-twitter,
    .fa-linkedin-in,
    .fa-instagram {
        font-size: 20px !important;
        padding-top: 10px;
        /* padding-right: 5px; */
    }

    .fa-facebook-f {
        font-size: 20px !important;
        padding-top: 10px;
        margin-left: -10px;
    }

    .copyright {
        width: 100%;
        text-align: center;
        margin-top: 2%;
    }

    /* footer ends here */
}